@{
    ViewBag.Title = "Home Page";
}
<style>
    .btn-home {
        padding: 9px 49px !important;
        font-size: 24px;
        font-weight: 500;
        transition: 1s all;
    }
</style>
<header class="masthead text-white text-center">
    <div class="overlay"></div>
    <div class="container">
        <div class="row">
            <div class="col-xl-9 mx-auto">
                <h1 class="mb-5">Coğrafya kaderinizi belirler, seyahat etmek kaderinizi değiştirir!</h1>
            </div>
            <div class="col-md-10 col-lg-8 col-xl-7 mx-auto">
                <form>
                    <div class="form-row">
                        <div class="col-12">
                            <a href="/Ticket/TravelChoose" class="btn btn-success btn-home" >Bilet Al</a>
                            @*<button type="submit" class="btn btn-primary btn-home">Bilet Al</button>*@
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</header>
@section footer{
    @Html.Partial("_PartialFooter")
}